[*]
insert_final_newline = true
trim_trailing_whitespace = true

[.github/**.yml]
indent_size = 2

[fabric.mod.json]
indent_size = 4

[fabric.mod.*.json]
indent_size = 4

[{*.mixins.*.json, *.mixins.json}]
indent_size = 4

[**/lang/*.json]
indent_size = 4

[aboutlibraries.json]
indent_size = 4

[*.proto]
indent_size = 4

[MODULE.bazel.lock]
indent_size = 2

[{maven_install.json, maven_install*.json, *_lock.json}]
indent_size = 2
